 <nav class="navbar navbar-expand-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/Markets'>Markets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/MyTrades'>My Trades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/'>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/'>Donate</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="JumboContent">
    <img src="assets/logo.png" id='jumboImage'>
  </div>
  <div class="JumboContent">
    <div>
      <h1>Swap Watch</h1>
      <p>Observation and Visualization of the marketplace build around the AirSwapDEX</p>
    </div>
  </div>  
</div>
<br/>

<!-- <div class="jumbotron">
  <div class="row">
    <div class="col-lg-6">
      <h1>Swap Watch</h1>
      <p>Observation and Visualization of the marketplace build around the AirSwapDEX</p>
    </div>
    <div class="col-lg-6 jumboImage">
      <img src="assets/logo.png" id='jumboImage'>
    </div>
  </div>
</div> -->